body {
  font-family: sans-serif;
}

.wiki-item {
  margin-right: 10px;
  margin-left: 10px;
  box-shadow: 5px 10px #888888;
}
.wiki-img {
  width: 100%;
}
.wiki-content {
  padding: 10px;
}

.wiki-header {
  text-align: center;
  text-transform: capitalize;
}
@media only screen and (min-width: 600px) {
  .wiki-content {
    display: flex;
    flex-flow: row-reverse;
  }
  .container {
    max-width: 960px;
    margin: 0 auto;
  }
  .wiki-text {
    min-width: 50%;
    max-width: 50%;
  }
  .img-container {
    min-width: 50%;
    max-width: 50%;
  }
}
